*,
fieldset {
    box-sizing:border-box;
	font-family: $base-font-family;
    font-size: $base-font-size;
	font-weight: $base-font-weight;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

html {
    position: relative;
}

span, strong, em {
    font-family: inherit;
    font-size: inherit;
}
