.main-nav {

	.has-js & {

		@include bp(tab-l) {
			display: block;

			&__toggle {
				display: none;
			}

		}
	}

	&__list {
		margin: 0;
		padding:0;

		@include bp(tab-l) {
			display:flex;
		}

	}

	&__toggle {
		@include position-tr($spacing-sm);
		display: block;
	}

	&__item {
		list-style:none;
		text-transform: uppercase;
	}

	&__link {
		@include padding-y-xsm();
		@include strong();
		border-bottom: 1px solid rgba(palette(primary, bodyText), .15);
		color: palette(primary, bodyText);
		display:block;

		&:hover,
		&:focus {
			color: palette(primary, bodyText);
			border-bottom-color: palette(primary, a);
		}

		@include bp(tab-l) {
			@include padding-sm();
		}

	}

}
