.main-nav {

	&__list {
		display:flex;
		margin: 0;
		padding:0;
	}

	&__item {
		list-style:none;
		text-transform: uppercase;
	}

	&__link {
		@include padding-xsm();
		@include strong();
		border-bottom: 0;
		color: palette(primary, bodyText);
	}

}
