.main-nav {

	&__list {
		display:flex;
		margin: 0;
		padding:0;
	}

	&__item {
		list-style:none;
		text-transform: uppercase;
	}

	&__link {
		@include padding-sm();
		@include strong();
		border-bottom: 3px solid transparent;
		color: palette(primary, bodyText);

		&:hover,
		&:focus {
			color: palette(primary, bodyText);
			border-bottom-color: palette(primary, a);
		}

	}

}
