.section {
	@include padding-sm();
	background: #fff;
	border-bottom: 1px solid rgba(palette(primary, bodyText), .15);

	@include bp(tab-l) {
		@include no-padding();
		@include padding-y();
	}

	&__wrap {

		@include bp(tab-l) {
			@include width-half();
			margin: 0 auto;
		}

	}

}
