@font-face {
  font-family: 'opensans_light';
  src: url("../fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Light-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Light-webfont.svg#opensans_light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_regular';
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Regular-webfont.svg#opensans_regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_semibold';
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.svg#opensans_semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_bold';
  src: url("../fonts/open-sans/OpenSans-Bold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Bold-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Bold-webfont.svg#opensans_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'england';
  src: url("../fonts/england/england-webfont.eot");
  src: url("../fonts/england/england-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/england/england-webfont.woff") format("woff"), url("../fonts/england/england-webfont.ttf") format("truetype"), url("../fonts/england/england-webfont.svg#opensans_regular") format("svg");
  font-weight: normal;
  font-style: normal; }
*,
fieldset {
  box-sizing: border-box;
  font-family: "opensans_regular", arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility; }

html {
  position: relative; }

span, strong, em {
  font-family: inherit;
  font-size: inherit; }

html {
  color: #575757; }

p,
.body-text {
  font-size: 1rem;
  line-height: 1.75em;
  margin-bottom: 0.875em; }

strong,
.strong {
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal; }

small,
.small {
  font-size: 0.8rem; }

.script {
  font-family: "england", serif; }

h1, .faux-h1 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 2rem; }
  @media (min-width: 1024px) {
    h1, .faux-h1 {
      font-size: 3rem; } }

h2, .faux-h2 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.8rem; }
  @media (min-width: 1024px) {
    h2, .faux-h2 {
      font-size: 1.8rem; } }

h3, .faux-h3 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.6rem; }
  @media (min-width: 1024px) {
    h3, .faux-h3 {
      font-size: 1.6rem; } }

h4, .faux-h4 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.4rem; }
  @media (min-width: 1024px) {
    h4, .faux-h4 {
      font-size: 1.4rem; } }

h5, .faux-h5 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.2rem; }
  @media (min-width: 1024px) {
    h5, .faux-h5 {
      font-size: 1.2rem; } }

h6, .faux-h6 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1rem; }

ul,
ol {
  margin-bottom: 2rem;
  padding-left: 1.25rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }
  ul li,
  ol li {
    line-height: 1.6rem; }

ul {
  list-style: disc; }

a,
.text-link {
  transition: all .5s ease-in-out;
  border-bottom: 1px dotted #ebebeb;
  color: #128c6a;
  text-decoration: none; }
  a:hover, a:focus,
  .text-link:hover,
  .text-link:focus {
    border-color: #7ceece;
    text-decoration: none; }

fieldset {
  padding-bottom: 2rem;
  border: 0; }

legend {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.6rem; }
  @media (min-width: 1024px) {
    legend {
      font-size: 1.6rem; } }

label,
.faux-label,
.input-error-label {
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5em; }

[type="radio"] + label,
[type="checkbox"] + label {
  margin: 0;
  padding-left: 1rem;
  display: inline;
  vertical-align: middle; }

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea,
select {
  transition: all .5s ease-in-out;
  width: 100%;
  background-color: #fff;
  border: 1px solid #a8b6d1;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  height: 2.4375rem;
  margin: 0 0 0.5rem;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media (min-width: 768px) {
    [type="text"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="email"],
    [type="number"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="url"],
    [type="color"],
    textarea,
    select {
      width: auto; } }
  [type="text"]:focus,
  [type="password"]:focus,
  [type="date"]:focus,
  [type="datetime"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="week"]:focus,
  [type="email"]:focus,
  [type="number"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="url"]:focus,
  [type="color"]:focus,
  textarea:focus,
  select:focus {
    border-color: #26478d;
    outline: none; }

textarea {
  height: 8rem; }
  @media (min-width: 768px) {
    textarea {
      width: 66.66666%; } }

select {
  background-image: url("_assets/imgs/caret-grey-down.svg");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem; }

.input-row {
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap; }
  .input-row__item {
    flex-grow: 1;
    margin-right: 28px; }
    .input-row__item:last-of-type {
      margin-right: 0; }

.input-error {
  background: rgba(255, 0, 0, 0.05);
  border-color: red; }
  .input-error-msg {
    color: red;
    display: block;
    font-weight: 400; }

.visuallyhidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; }

.padding {
  padding: 4rem; }

.padding-t {
  padding-top: 4rem; }

.padding-r {
  padding-right: 4rem; }

.padding-b {
  padding-bottom: 4rem; }

.padding-l {
  padding-left: 4rem; }

.padding-x {
  padding-right: 4rem;
  padding-left: 4rem; }

.padding-y {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.padding-xsm {
  padding: 1rem; }

.padding-t-xsm {
  padding-top: 1rem; }

.padding-r-xsm {
  padding-right: 1rem; }

.padding-b-xsm {
  padding-bottom: 1rem; }

.padding-l-xsm {
  padding-left: 1rem; }

.padding-x-xsm {
  padding-right: 1rem;
  padding-left: 1rem; }

.padding-y-xsm {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.padding-sm {
  padding: 2rem; }

.padding-t-sm {
  padding-top: 2rem; }

.padding-r-sm {
  padding-right: 2rem; }

.padding-b-sm {
  padding-bottom: 2rem; }

.padding-l-sm {
  padding-left: 2rem; }

.padding-x-sm {
  padding-right: 2rem;
  padding-left: 2rem; }

.padding-y-sm {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.padding-lg {
  padding: 8rem; }

.padding-t-lg {
  padding-top: 8rem; }

.padding-r-lg {
  padding-right: 8rem; }

.padding-b-lg {
  padding-bottom: 8rem; }

.padding-l-lg {
  padding-left: 8rem; }

.padding-x-lg {
  padding-right: 8rem;
  padding-left: 8rem; }

.padding-y-lg {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.padding-xlg {
  padding: 16rem; }

.padding-t-xlg {
  padding-top: 16rem; }

.padding-r-xlg {
  padding-right: 16rem; }

.padding-b-xlg {
  padding-bottom: 16rem; }

.padding-l-xlg {
  padding-left: 16rem; }

.padding-x-xlg {
  padding-right: 16rem;
  padding-left: 16rem; }

.padding-y-xlg {
  padding-top: 16rem;
  padding-bottom: 16rem; }

.margin {
  margin: 4rem; }

.margin-t {
  margin-top: 4rem; }

.margin-r {
  margin-right: 4rem; }

.margin-b {
  margin-bottom: 4rem; }

.margin-l {
  margin-left: 4rem; }

.margin-x {
  margin-right: 4rem;
  margin-left: 4rem; }

.margin-y {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.margin-xsm {
  margin: 4rem; }

.margin-t-xsm {
  margin-top: 1rem; }

.margin-r-xsm {
  margin-right: 1rem; }

.margin-b-xsm {
  margin-bottom: 1rem; }

.margin-l-xsm {
  margin-left: 1rem; }

.margin-x-xsm {
  margin-right: 1rem;
  margin-left: 1rem; }

.margin-y-xsm {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.margin-sm {
  margin: 2rem; }

.margin-t-sm {
  margin-top: 2rem; }

.margin-r-sm {
  margin-right: 2rem; }

.margin-b-sm {
  margin-bottom: 2rem; }

.margin-l-sm {
  margin-left: 2rem; }

.margin-x-sm {
  margin-right: 2rem;
  margin-left: 2rem; }

.margin-y-sm {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.margin-lg {
  margin: 8rem; }

.margin-t-lg {
  margin-top: 8rem; }

.margin-r-lg {
  margin-right: 8rem; }

.margin-b-lg {
  margin-bottom: 8rem; }

.margin-l-lg {
  margin-left: 8rem; }

.margin-x-lg {
  margin-right: 8rem;
  margin-left: 8rem; }

.margin-y-lg {
  margin-top: 8rem;
  margin-bottom: 8rem; }

.margin-xlg {
  margin: 16rem; }

.margin-t-xlg {
  margin-top: 16rem; }

.margin-r-xlg {
  margin-right: 16rem; }

.margin-b-xlg {
  margin-bottom: 16rem; }

.margin-l-xlg {
  margin-left: 16rem; }

.margin-x-xlg {
  margin-right: 16rem;
  margin-left: 16rem; }

.margin-y-xlg {
  margin-top: 16rem;
  margin-bottom: 16rem; }

.center-text {
  text-align: center; }

.is-sticky {
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  position: fixed; }

.btn {
  margin-bottom: 2rem;
  padding: 1rem;
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px 1px #575757;
  transition: all .5s ease-in-out;
  text-transform: uppercase;
  width: 100%;
  background-color: #7ceece;
  border-radius: 3px;
  border: 0;
  box-shadow: 2px 2px 5px rgba(87, 87, 87, 0.25);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 1rem;
  vertical-align: top; }
  @media (min-width: 768px) {
    .btn {
      width: auto; } }
  .btn:hover, .btn:focus {
    box-shadow: 2px 2px 5px rgba(87, 87, 87, 0.65);
    color: #fff;
    text-decoration: none; }
  .btn--is-hollow {
    background-color: white;
    border: 1px solid #7ceece;
    color: #7ceece; }
  .btn--has-icon {
    background-image: url("_assets/imgs/arrow-white-right.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 1.4rem;
    padding-right: 3.21429rem; }
  .btn--secondary {
    background: #e65100; }

table {
  width: 100%;
  border-collapse: collapse; }

tr {
  width: 100%; }

th, td {
  padding: 1rem;
  border-bottom: 1px solid rgba(87, 87, 87, 0.1);
  text-align: left; }

th {
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  background: rgba(124, 238, 206, 0.1);
  border-width: 2px; }

.controls {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap; }

.control {
  align-items: center;
  display: flex;
  flex-grow: 1; }
  .control label {
    padding-right: 1rem; }

.ribbon {
  text-align: center;
  padding: 1rem;
  text-shadow: 1px 1px 1px #575757;
  background: #7ceece;
  color: #fff;
  font-size: 1.6rem;
  margin: 2em auto 3em;
  position: relative;
  width: 80%; }
  @media (min-width: 1024px) {
    .ribbon {
      width: 50%;
      padding: 2rem; } }
  .ribbon span {
    display: block;
    font-size: 1.2rem; }
    .ribbon span:first-of-type {
      font-size: 1.8rem;
      padding-bottom: 0.35714rem; }
      @media (min-width: 1024px) {
        .ribbon span:first-of-type {
          font-size: 2.2rem;
          padding-bottom: 0.71429rem; } }
  .ribbon:before, .ribbon:after {
    border: 1.5em solid #986794;
    bottom: -1em;
    content: '';
    display: block;
    position: absolute;
    z-index: -1; }
  .ribbon:before {
    border-left-color: transparent;
    border-right-width: 1.5em;
    left: -2em; }
  .ribbon:after {
    border-left-width: 1.5em;
    border-right-color: transparent;
    right: -2em; }
  .ribbon-content:before, .ribbon-content:after {
    border-color: #804f7c transparent transparent transparent;
    border-style: solid;
    bottom: -1em;
    content: '';
    display: block;
    position: absolute; }
  .ribbon-content:before {
    border-width: 1em 0 0 1em;
    left: 0; }
  .ribbon-content:after {
    border-width: 1em 1em 0 0;
    right: 0; }

.header {
  transition: all .5s ease-in-out;
  width: 100%;
  background: white;
  border-bottom: 1px solid #f0f0f0;
  display: flex; }
  .header__wrap {
    width: 100%;
    padding: 1rem;
    transition: all .5s ease-in-out;
    position: relative; }
    @media (min-width: 768px) {
      .header__wrap {
        padding-right: 2rem;
        padding-left: 2rem; } }
    @media (min-width: 1024px) {
      .header__wrap {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; } }
  .header__logo {
    transition: all .5s ease-in-out; }
    @media (min-width: 768px) {
      .header__logo {
        height: auto; } }
  .header__link {
    border: 0; }
  .header__strap {
    font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #7ceece;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-left: 1rem; }
    .header__strap span {
      clip: rect(0 0 0 0);
      height: 1px;
      overflow: hidden;
      position: absolute;
      width: 1px;
      color: #575757; }
      @media (min-width: 768px) {
        .header__strap span {
          clip: rect(0 0 0 0);
          height: auto;
          overflow: visible;
          position: static;
          width: auto; } }
    .header__strap em {
      font-family: georgia, "times new roman", serif;
      font-style: italic;
      letter-spacing: normal;
      text-transform: lowercase; }

body {
  transition: all .5s ease-in-out;
  background: white; }

main {
  transition: all .5s ease-in-out;
  padding-top: 2rem; }
  .has-js main {
    padding-top: 69px; }
    @media (min-width: 768px) {
      .has-js main {
        padding-top: 87px; } }

@media (min-width: 1024px) {
  .wrap {
    width: 85%;
    margin-right: auto;
    margin-left: auto; } }

.has-js .main-nav {
  display: none; }
  @media (min-width: 1024px) {
    .has-js .main-nav {
      display: block; }
      .has-js .main-nav__toggle {
        display: none; } }
.main-nav__list {
  margin: 0;
  padding: 0; }
  @media (min-width: 1024px) {
    .main-nav__list {
      display: flex; } }
.main-nav__toggle {
  position: absolute;
  right: 28px;
  top: 42px;
  display: block; }
.main-nav__item {
  list-style: none;
  text-transform: uppercase; }
.main-nav__link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  border-bottom: 1px solid rgba(87, 87, 87, 0.15);
  color: #575757;
  display: block; }
  .main-nav__link:hover, .main-nav__link:focus {
    color: #575757;
    border-bottom-color: #7ceece; }
  @media (min-width: 1024px) {
    .main-nav__link {
      padding: 2rem;
      border-bottom-color: transparent; } }

.section {
  padding: 2rem;
  background: #fff; }
  @media (min-width: 1024px) {
    .section {
      padding: 0;
      padding-top: 4rem;
      padding-bottom: 4rem; } }
  .section:nth-of-type(2n) {
    background: rgba(124, 238, 206, 0.1); }
  @media (min-width: 1024px) {
    .section__wrap {
      width: 50%;
      margin: 0 auto; } }

.hero {
  transition: all .5s ease-in-out;
  align-items: center;
  background: rgba(124, 238, 206, 0.5);
  display: flex;
  justify-content: center;
  position: relative; }
  .hero__text {
    padding: 2rem;
    align-items: center;
    background: #fff;
    box-shadow: 5px 5px 0 #575757;
    display: flex;
    height: 50%;
    justify-content: center; }
  .hero__title {
    text-align: center;
    font-family: "england", serif;
    margin: 0; }
    .hero__title span {
      display: block; }

/*# sourceMappingURL=main.css.map */
