.controls {
	align-content: space-between;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.control {
	align-items: center;
	display: flex;
	flex-grow: 1;

	label {
		@include padding-r-xsm();
	}

}
