.ribbon {
    @include center-text();
    @include padding-xsm();
    @include text-shadow();
    @include uppercase();
    background: palette(primary, a);
    color: #fff;
    font-size: rem($base-font-size * 2);
    line-height: rem($base-font-size * 3);
    margin: $spacing-xsm auto $spacing;
    position: relative;
    width: 80%;

    @include bp(tab-l) {
        @include width-half();
        @include margin-b-xsm();
        @include padding-sm();
    }

    &:before,
    &:after {
        border: 1.5em solid darken(palette(primary, a), 10%);
        bottom: -1em;
        content: '';
        display: block;
        position: absolute;
        z-index: (index($z-index, 'hero-ribbon') - 3);
    }

    &:before {
        border-left-color: transparent;
        border-right-width: 1.5em;
        left: -2em;
    }

    &:after {
        border-left-width: 1.5em;
        border-right-color: transparent;
        right: -2em;
    }

    &-content {
        font-family: $base-font-heading;
        letter-spacing: 1px;

        &:before,
        &:after {
            border-color: darken(palette(primary, a), 50%) transparent transparent transparent;
            border-style: solid;
            bottom: -1em;
            content: '';
            display: block;
            position: absolute;
        }

        &:before {
            border-width: 1em 0 0 1em;
            left: 0;
        }

        &:after {
            border-width: 1em 1em 0 0;
            right: 0;
        }

    }

}
