// ------------------------------------------------------------------------------------------------------------------------//
// MEDIA QUERIES
// ------------------------------------------------------------------------------------------------------------------------//

$breakpoints: (
	tab-p: 768px,
	tab-l: 1024px,
	desktop: 1200px
);
