// Typography
$base-font-size: 14px;
$base-font-family: 'opensans_regular', arial, helvetica, sans-serif;
$base-font-serif: georgia, 'times new roman', serif;
$base-font-bold: 'opensans_semibold', $base-font-family;
$base-font-code: "Courier New", Courier, monospace;
$base-font-weight: 400;

// Spacing
$spacing: $base-font-size * 4;
$spacing-xsm: $spacing / 4;
$spacing-sm: $spacing / 2;
$spacing-lg: $spacing * 2;
$spacing-xlg: $spacing * 4;

// Paths
$img-path: '_assets/imgs/';
$font-path: '_assets/fonts/';

$header-height: 69px;
$header-height-desktop: 87px;
