.hero {
	@include center-text();
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: relative;
	z-index: index($z-index, 'hero-image') + 1;

	&:before {
		@include width-full();
		@include position-tl();
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url($img-path + 'hero.png');
		background-repeat: no-repeat;
		background-position: center 30%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
		background-size: cover;
		content: '';
		display: block;
		filter: blur(2px) sepia(1);
		height: 100%;
		z-index: index($z-index, 'hero-image') - 2;
	}

	&__info {
		@include text-shadow();
		@include uppercase();
        display: block;
        font-size: rem($base-font-size * 1.2);
		line-height: rem($base-font-size * 1.8);
		padding:0;

		h2 {
			color: #fff;
		}

		span {
			display: block;
			font-size: rem($base-font-size * 1.1);

			&:first-of-type {
	            font-size: rem($base-font-size * 1.8);
				letter-spacing: 2px;
	            padding-bottom: rem(10px);

	            @include bp(tab-l) {
	                font-size: rem($base-font-size * 2.2);
	                padding-bottom: rem(10px);
	            }

	        }

		}

		.fa {
			display: inline-block;
			margin-right: rem(3px);
			vertical-align: middle;
		}

		a {
			@include strong();
			border:0;
			color: #fff;
		}

	}

	@include bp(tab-l) {
		height: 300px;

		&:before {
			filter: blur() sepia(1);
		}

	}

}
