.hero {
	@include transition();
	background: url($img-path + 'hero.png') no-repeat center 30% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 200px;

	@include bp(tab-l) {
		height: 400px;
	}

	&__text {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
	}

	&__title {
		@include center-text();
		@include script();
		@include no-margin();

		span {
			display: block;
		}

	}

}
